<% provide :title do %><%= t("pages.titles.help", org: setting["org_name"]) %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: help_url %>
<% end %>

<%= render Shared::BannerComponent.new("help_page") %>

<div class="jumbo light">
  <div class="row">
    <div class="small-12 medium-12 column">
      <!--<h2><%= t("pages.help.title", org: setting["org_name"]) %></h2>-->
      <!--<p><%= t("pages.help.guide", org: setting["org_name"]) %></p>-->
      <h3><a href="/">CANTABRIA EN MOVIMIENTO</a> es una plataforma de participación ciudadana para el desarrollo de Estrategias de Movilidad Sostenible en la región. </h3>

<p>Esta guía explica para qué sirven y cómo funciona cada una de las secciones de <a href="/">CANTABRIA EN MOVIMIENTO</a></p>
    </div>
  </div>

  <!--<%= render "pages/help/menu" %>-->
</div>

<div id="more-info" class="more-info-content">
  <div class="row">


<div class="row section-content">
<div class="small-12 column" id="proposals" data-magellan-target="proposals">
    <h3>REGISTRO ANÓNIMO DE PARTICIPANTES</h3>


  <p>
    Para poder interactuar en la plataforma será necesario registrarse a través de un sencillo paso. Para ello se deberá de iniciar sesión en la pestaña <a href="/users/sign_up">REGISTRO</a>  una vez confirmado el correo y contraseña. Los datos requeridos para el registro son:  permite a los usuarios registrados presentar o apoyar propuestas, para que sean estudiadas y en su caso llevadas a cabo.
  </p>
  <ul>
    <li>Nombre de usuario (o apodo) que aparecerá visible.</li>
    <li>Contraseña de acceso.</li>
    <li>Confirmar contraseña de acceso.</li>
    <li>Aceptar condiciones de uso.</li>
  </ul>

  </div></div>
<div class="row section-content">
<div class="small-12 column" id="proposals" data-magellan-target="proposals">
    <h3>EJES DE MOVILIDAD</h3>
  <p>
    Pinchando en la pestaña <a href="/legislation/processes">EJES DE MOVILIDAD</a> encontrarás información sobre el contenido, principios básicos y objetivos de cada uno. <p>


  </div></div>
  <div class="row section-content">
<div class="small-12 column" id="proposals" data-magellan-target="proposals">
    <h3>PROPUESTAS</h3>


  <p>
    Pinchando en la pestaña <a href="/proposals">PROPUESTAS</a>, aparecerán todas las propuestas establecidas donde podrás transmitir tu opinión, aportaciones, reflexiones y votar aquellas propuestas que te parezcan más interesantes.
  </p>
  <p>También podrás interactuar con los comentarios de otros usuarios apoyándolos si los consideras relevantes.</p>

  </div></div>
  <div class="row section-content">
  <div class="small-12 column" id="proposals" data-magellan-target="proposals">
    <h3>CREAR UNA PROPUESTA</h3>


  <p>
    En la pestaña <a href="/proposals">PROPUESTAS</a>, tendrás la posibilidad de “<a href="/proposals/new">crear propuesta</a>”. Para ello deberás de rellenar los campos:
  </p>
  <ul>
    <li>Título de propuesta.</li>
    <li>Resumen.</li>
    <li>Texto desarrollado de la propuesta.</li>
    <li>Posibilidad de añadir: enlace de video, imagen, y un documento de hasta 3 MG.</li>
    <li>Podrás seleccionar si lo deseas el ámbito de actuación (mapa).</li>
    <li>Deberás seleccionar el eje o ejes en los que se enmarca tu propuesta.</li>
  </ul>
  <p>En MENU – ADMINISTRACIÓN – LEGISLACIÓN COLABORATIVA, podrás editar (modificar) el texto de tu propuesta y también podrás eliminarla. </p>

  </div></div>

 <div class="row section-content">
<div class="small-12 column" id="proposals" data-magellan-target="proposals">
<p>Recuerda ser respetuoso en tus aportaciones y las de los demás. Queremos que <a href="/">CANTABRIA EN MOVIMIENTO</a> sea un espacio abierto para el debate y reflexión sobre el futuro de la movilidad en nuestra región. </p>
</div></div>

  </div>

  <div class="row">
    <hr>
    <div class="small-12 column">
      <%= render "pages/help/other" %>
    </div>
  </div>
</div>
